/* * {
    border: 1px solid red;
} */
#content {
    max-width: 1600px;
    background-color: #ccc;
    margin: 0 auto;
}
body {
    background-color: #ccc;
}
a {
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
a:hover {
    background-color: darkgrey;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 2em;
    text-align: center;
    padding: 30px;
}
img {
    width: 60%;
    display: block;
    margin: 60px auto;
    border: 3px solid lightblue;
    padding: 40px;
    box-sizing: border-box;
}
/* #primary {
    background-color: aqua;
} */
p {
    /* text-align: center; */
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

footer p {
    width: 100%;
    text-align: center;
    background-color: lightblue;
    color: rgb(71, 69, 69);
}

.background {
    background-color: rgb(71, 69, 69);
}